/* Specify color for thread links */
.threadlink {
    color: #fff;
}
/* Global Background color */
.aAU, .aM97s, .vIO7af, .bzJiD, .Bl2pUd, .c0lDWe {
    background: #212121!important;
    background-color: #212121!important;
}
.Kk7lMc-ae3xF {
    background-color: #212121;
}
/* Global background color in room preview */
.x7DKme {
    background-color: #212121 !important;
}
/* Global background color in search results */
.pWhTUc {
    background-color: #212121 !important;
}

/* Right panel */
.brC-aT5-aOt-Jw, .bAw .brC-aT5-aOt-Jw {
    background-color: #212121;
    border-left: 1px solid #6a6a6a;
}

/* Title in private messages */
.CmMf8e {
    color: #fff;
}
/* Title in channels */
.tCUB4c {
    color: #fff;
}
/* Topbar activity status button */
.Yb {
    border: 1px solid #5f6368;
}

/* Topbar background color */
.QTQg5e {
    background: #212121;
    border-bottom: 1px solid #6a6a6a;
}
/* Topbar search bar color */
.gb_Ve, .gb_gf, .a31, .gb_Ve.gb_We, .gb_Ue, input.gb_ff {
    background-color: #2d2d2d!important;
    color: #fff!important;
}
.gb_gf::placeholder, .gb_ff::placeholder, .a3I {
    color: rgb(202, 196, 201)!important;
}
/* Topbar left button text color */
.nk7hB, .wWf0Bc, .nk7hB .cAW0Vc {
    color: #fff;
}
/* Topbar right buttons color */
.Nj8aCb.Nj8aCb {
    color: #fff;
    fill: #fff;
}
/* Notifications active/disabled status button */
.gWTIDe {
    color: rgb(202, 196, 201);
}
/* Chat/Files/Tasks tabs buttons border */
.UDyRYe {
	border-bottom: none;
}

/* Thread boxes colors */
.dsoUjb {
    background-color: #2d2d2d;
    border: solid 1px #4a4a4a;
}
.oGsu4 {
    background-color: #2d2d2d;
}
.nF6pT.FwR7Pc .iKCcE, .hu21Y:hover {
    background-color: #3f3f3f;
}
.XbbXmb.zzVqCe .nF6pT, .jGyvbd .jO0Dzb, .dsoUjb .jGyvbd .jO0Dzb {
    background-color: #2d2d2d;
}

/* Thread boxes in pm */
.WQKmIb .dsoUjb {
    background-color: #2d2d2d !important;
    border: solid 1px #2d2d2d !important;

}

/* Thread boxes in search results */
.d4FIEb .ajCeRb .QIJiHb {
    color: #fff !important;
}
/* Room title between threads in search results */
.aVIRye {
    color: #cc7832 !important;
}
/* Load more messages button in search results */
.taQuBe {
    color: #fff;
    background-color: #2d2d2d;
}

/* Topbar in room preview */
.oPqlY {
    background-color: #2d2d2d !important;
}

/* Edit/react/delete buttons on message */
.f8lxbf {
    fill: #fff;
}
.eWw5ab {
    background-color: #2d2d2d;
    border: solid 1px #5f5f5f;
}
.MbhUzd {
    background-color: #cc7832;
}

/* Active thread box */
.cZICLc:hover .dsoUjb {
    border: solid 1px #aa5010;
}

/* "Unread" label */
.Fv5sh {
    color: #cc7832;
}
.z9ucM .heceU {
    fill: #cc7832;
}

/* Jump to bottom and right panel buttons */
.g3VIld .HvOprf, .e3Duub, .w63zXd .NMPajd, 
.brC-dA-I.aT5-aOt-I-Jp.aT5-aOt-I-JW .aT5-aOt-I-JX-atM, 
.brC-aMv-bta .brC-dA-I.aT5-aOt-I-Jp.aT5-aOt-I-JW .aT5-aOt-I-JX-atM,
.brC-dA-I.aT5-aOt-I-Jp .aT5-aOt-I-JX-atM, .brC-aMv-bta .brC-dA-I.aT5-aOt-I-Jp .aT5-aOt-I-JX-atM {
    background-color: #cc7832;
}
.g3VIld .HvOprf:hover, .e3Duub:hover, .w63zXd:hover .NMPajd {
    background-color: #aa5010;
}

/* Collapsed messages button */
.zPVzl {
    background: transparent;
}
.Jqvwfe {
    background-color: #3d3d3d;
    border: solid 1px #6a6a6a;
    color: #cc7832;
}

/* Username color */
.cmEq8b .Zc1Emd, .cmEq8b .Z4BnXb {
    color: #fff;
}

/* Follow button color */
.zxHSSc {
    color: #EEBE67;
    background-color: #2d2d2d;
    border: solid 1px #3f3f3f;
}
.yg4pvb::before {
    background: transparent;
}
.zxHSSc.FuHVqe {
    background-color: rgba(150,30,30,0.300);
}

/* Cancel button when editing a message */
.HQ8yf .RveJvd.RveJvd, .oG5Srb .RveJvd.RveJvd, .KV0KFc .ojqkvd {
    color: #cc7832;
}

/* Borders in message editing */
.cVKqyc {
    border: solid 1px #6a6a6a;
}

/* Answer box background color */
.vmpzOc, .PhFuQe.yXgmRe .dJ9vNe, .dJ9vNe {
    background-color: #2d2d2d;
}
/* Cursor and text input color */
.oAzRtb {
    caret-color: #fff;
    color: #fff;
}
/* Answer box border when active */
.PhFuQe.yXgmRe .dJ9vNe {
    border: solid 2px #5f5f5f;
}
/* Answer box border when inactive */
.dJ9vNe {
    border: solid 1px #4a4a4a;
}
/* Answer box right buttons */
.fKz7Od {
    color: #fff;
    fill: #fff;
}

/* New thread button */
.SfqTBc {
    background-color: #2d2d2d;
}
.aVw1Ob {
    color: #fff;
}
.SfqTBc .jy2fzc {
    color: #cc7832;
}

/* New thread box */
.XganBc {
    background-color: #2d2d2d;
    border: solid 1px #5f5f5f;
}
.p9Cqzd { /* exit cross */
    fill: #fff;
}
.qnCNBb { /* "New thread" label */
    color: #fff;
}
.zFe2Ef:not(.RDPZE) .v6TC2e { /* send button when active */
    fill: #cc7832;
}

/* Join room box in room preview */
.BhQsO {
    color: #fff !important;
}
.CjSwue {
    background-color: #2d2d2d !important;
}
/* Join button */
.W32wZ {
    background-color: #cc7832;
}

/* Text between threads color */
.A2BXPe {
    color: #fff; 
}

/* Sidebar color and border */
.X9KLPc, .bhZ.bym, .bhZ.bjB {
    background-color: #2d2d2d;
    border-right: solid 1px #6a6a6a;
}

/* Sidebar elemtents bg color when hovering */
.PL5Wwe:focus:not(.dQ2Tsf),
.PL5Wwe:hover:not(.dQ2Tsf),
.tuKyod .LoYJxb {
    background-color: #3f3f3f;
}

/* Sidebar channel icons */
.SwwApf, .SwwApf.qkl0pe {
    background-color: black;
}

/* Sidebar active channel */
.FS4hgd.iWO5td .ojqkvd, .FS4hgd.iWO5td, .dHI9xe.qs41qe, .dHI9xe.KKjvXb.KKjvXb, .dHI9xe.qs41qe .ojqkvd.ojqkvd, .dHI9xe.KKjvXb.KKjvXb .ojqkvd {
    color: #fff;
}
.FS4hgd.iWO5td.iWO5td, div .dHI9xe.KKjvXb, div .dHI9xe.qs41qe, .IL9EXe.dHI9xe.qs41qe:focus, .IL9EXe.dHI9xe.qs41qe:hover, .IL9EXe.dHI9xe.qs41qe, .TK .TO:active, .n6 .ah9.aiu:active, .CL:active, .TO.nZ, .TO.ol, .TO.NQ, .n6 .ah9:hover, .n6 .ah9.aiu:hover, .n6 .ah9:focus, .CL.NQ, .CL:hover, .CL:focus {
    background-color: #cc7832;
}
.PL5Wwe:focus:not(.dQ2Tsf) {
    background-color: #aa5010;
}

/* Sidebar elements text color for chans with unread messages */
.PL5Wwe.H7du2 .t5F5nf {
    color: #fff;
}

/* Channel name color in sidebar */
.t5F5nf, .Z6 {
    color: rgb(202, 196, 201);
}

/* "Unread" jump button in sidebar */
.OpmeVb .GfYBMd, .FTuhNb .RW5Kg {
    fill: #cc7832;
    color: #cc7832;
}

/* Sidebar "recent" or "starred" or Chat or Rooms section names color */
.aOHsTc, .V6.CL {
    color: rgb(202, 196, 201);
}

/* Sidebar Search section text color */
.HLTcjb {
    color: rgb(202, 196, 201);
}
.D3DXDc {
    fill: rgb(202, 196, 201) !important;
}

/* Sidebar search button hovering bg color */
.GbZFNe:focus, .GbZFNe:hover {
    background-color: #3f3f3f;
}

/* Sidebar search button shadow */
.d6pS5 {
    box-shadow: 0 5px 5px -2px black;
    padding-bottom: 0;
}

/* Search menu text color */
.Uk0Bfe .zHQkBf, .Uk0Bfe .snByac, .dQ2Tsf .NXfF8b, .dQ2Tsf .ZTmjQb {
    color: #000;
}

.ndJi5d {
    color: rgba(0,0,0,0.38);
}

/* Search menu elements colors when hovering */
.dQ2Tsf[aria-selected="true"], .PL5Wwe:hover > .dQ2Tsf {
    background-color: #eee;
    color: #fff
}

/* Search menu people list mail color */
.dQ2Tsf[aria-selected="true"] .Kfe2Ub, .PL5Wwe:hover > .dQ2Tsf .Kfe2Ub {
    color: #000;
}

/* Top left corner section (with title) background color and border */
.Riuhhf {
    background-color: #212121;
    border-right: solid 1px #6a6a6a;
    border-bottom: solid 1px #6a6a6a;

}

/* Chat top left logo text color */
#XMLID_8_-Clipped{
    opacity: 0.8 !important;
    fill: #fff !important;
}

/* Chat top left logo */
#_x3C_Path_x3E_ {
    fill: #cc7832;
}

/* Top left corner Status button when active */
.RASpke:hover, .RASpke:focus, .RASpke:hover:focus, .RASpke:active, .RASpke.iWO5td.iWO5td {
    background-color: #cc7832;
}

/* Time and menu buttons and clock for channels inactive and active colors */
.sFuxxd {
    color: rgb(202, 196, 201);
}
.PL5Wwe.H7du2 .sFuxxd {
    color: #fff;
}
.DQy0Rb {
    fill: rgb(202, 196, 201) !important;
}
.PL5Wwe.H7du2 .DQy0Rb {
    fill: #fff !important;
}
.QeRfYe {
    fill: rgb(202, 196, 201) !important;
}
.PL5Wwe.H7du2 .QeRfYe {
    fill: #fff !important;
}

/* Code snippets colors */
.FMTudf, .Zc1Emd div {
    border: 1px solid #6a6a6a!important;
    background: #3d3d3d!important;
    color: #fff!important;
}

/* Inline pre colors */
.U8d2H, .Zc1Emd span:not(.NhKrqd):not(.fWwrkf) {
    background-color: #3d3d3d!important;
    color: #cc7832!important;
    border: 1px solid #6a6a6a!important;
}

/* Self Mentions */
.cmEq8b .NhKrqd {
    background-color: #cc7832;
}
/* Others' mentions */
.fWwrkf {
    color: #cc7832;
}

/* People's name before message */
.cmEq8b .Z4BnXb .njhDLd {
    color: white;
    font-weight: 1000;
}

/* Link previews */
.Pj9rof {
    background-color: #2d2d2d;
    border: 1px solid #6a6a6a;
}
.kmatHb, .hlrRUb {
    color: #fff;
    background: transparent;
}
.SXFjfb {
    background-color: #2d2d2d;
    border-top: 1px solid #6a6a6a;
}

/* images */
.KuG0bc {
    border: 1px solid #6a6a6a;
}

/* Message suggestions */
.T9VbLe {
    background-color: #2d2d2d;
    border: 1px solid #6a6a6a;
}
.ubzhQb {
    color: #cc7832;
}

/* Emoji reactions */
.dIC9Jb {
    background-color: #2d2d2d;
    border: 1px solid #6a6a6a;
}
.YK45Id {
    color: #ccc;
}
.dIC9Jb.CwpxMe .j3630e {
    color: #cc7832;
}

div .mUbCce:hover, div .mUbCce:focus, div .mUbCce:active, div .mUbCce.qs41qe, div .mUbCce.u3bW4e, .JRtysb:hover .snByac, .JRtysb:focus .snByac, .JRtysb:active .snByac, .JRtysb.qs41qe .snByac, .JRtysb.u3bW4e .snByac {
    fill: #cc7832;
}

/* browse room and search exit button */
.xTcvqe .fKz7Od, .wbJc4 .fKz7Od {
    color: #000 !important;
    fill: #000 !important;
}

