/* Specify size for thread links */
.threadlink {
    font-size: 8px;
}

.linkcpy {
    font-weight: bold;
}

svg.GfYBMd.Kol3Vd.V3Pk2 {
    font-size: 0.5em;
    height: 3em;
}

/* Reduce left and right margins in the chat area */
.BEjUKc .cFc9ae {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    max-width:none;
}
.Bl2pUd {
    padding-left: 0px;
    padding-right: 0px;
}

/* Reduce height of header bar */
.DWzK6d, .gb_Uf > .gb_g, .gb_Uf, .Jrbdv, .C2Jvlf {
    height: 45px;
}
.gb_qa:not(.gb_ra) .gb_Kd, .gb_gf:not(.gb_xf) {
    padding: 0;
}
.gb_Ie, .gb_wf, .gb_gf {
    height: 40px!important;
}
.gb_Ve button svg, .gb_Ve button img {
    padding: 6px;
}
.HyiAVd, .i5PBGe .GVSFtd {
    margin-top: -5px;
}
.bn .bl {
    height: calc(100vh -  36px );
}

/* Reduce height of search field in header bar */
.gb_Ue {
	height: 32px;
    margin: 8px;
}
.gb_ff {
    height: 33px;
}
.gb_of.gb_pf {
    margin-top: -5px;
}
/* Height of channel header bar */
.zmXnlc .dKv0S.dKv0S {
    height: 40px;
}
.RFZYhc .kSBibe {
    height: calc(100% - 40px);
    top: 40px;
}

/* Chan button in header bar */
.dKv0S .i5PBGe {
    min-height: 12px;
    padding: 4px;
}
/* Chan button number of members */
.sNyyib .x1jjEb {
    height: 13px;
    font-size: 11px;
}

/* Reduce whitespace around New conversation button */
.RnpT2b {
    margin: 4px 0 4px 0;
    min-height: 0px;
}
.IEIJqd {
    padding-top: 0;
}

/* Chat/Files/Tasks tab buttons */
.UDyRYe, .XXAR0, .wmFscd, .c0lDWe {
    height: 14px;
    line-height: 14px;
}
.ItO8Dd {
    height: 1px;
}

/* Allow messages to display full-width */
.bzJiD .jGyvbd .QIJiHb, .bzJiD .jGyvbd .zX644e {
    max-width: none;
}

/* Reduce sidebar width */
.aeN.WR {
    min-width: 270px!important;
    max-width: 270px!important;
}

/* Reduce top and bottom padding around date */
.mCOR5e {
    padding: 7px 0 0px 0;
}
.QQodff .FvYVyf {
    font-size: .9rem;
}
.mCOR5e .A2BXPe {
    padding: 3px 0;
}

/* Reduce left margin in sidebar */
.yDIlKc .Eb3cg, .yDIlKc .nz9RLc, .W0hon .Eb3cg, .W0hon .nz9RLc, .Eb3cg {
    padding-left: 5px;
}

/* Reduce right margin in sidebar */
.yxIv1d .n5yyEc, .t5F5nf, .PL5Wwe .fh7VDd {
    margin-right: 0;
    padding-right: 0;
}
.krjOGe::-webkit-scrollbar {
    width: 0;
}

/* Sidebar "recent" or "starred" section names text size */
.aOHsTc {
    font-size: 16px;
    margin-left: 16px;
}

/* Search Menu shape and dimensions */
.yoV6yd {
    margin-top: -4px;
    width: 100%;
    border-radius: 0px;
    -moz-border-radius: 0px
}
/* Search menu size */
.d6pS5.iWO5td .ffyVOd {
    background: none;
}

/* Search Menu "frequent" section text color and size */
.wAR34c {
    font-size: 16px;
}

/* Padding height between messages in PM */
.XbbXmb:not(:last-child) .hu21Y {
   margin-bottom: 0;
}
.XbbXmb.zzVqCe + .ajCeRb:not(.zzVqCe), .WQKmIb .ajCeRb:not(.zzVqCe) {
    padding-top: 0;
}
.WQKmIb .auHzcc, .WQKmIb .IEIJqd {
    max-width: inherit;
}

/* Padding height between messages in a thread */
.nF6pT, .dsoUjb:not(.WQKmIb) .jO0Dzb.nF6pT {
    padding-top: 2px;
}
.cZICLc:not(.k7nB6e) .jGyvbd > .HbQCbc:last-child, .cZICLc:not(.k7nB6e) .jGyvbd > .nF6pT:last-child, .zh742e:last-child {
    padding-bottom: 0px;
}
.dsoUjb:not(.WQKmIb) {
    padding: 0px 0;
}

/* Padding below people's names */
.NGoCob {
    padding-bottom: 0;
}

/* Margins around Unread label */
.YQsadf {
    min-height: 20px;
}

/* Sidebar "recent" or "starred" section title padding height */
.wJNchb, .nFzS9e {
    margin-top: 10px;
}

/* Draw white line between the sidebar sections and reduce padding */
.PL5Wwe + .wJNchb, .teTAFe:not(.fXx9Lc) + .vHL80e .aOHsTc {
    border-top: solid 1px #e0e0e0;
    padding-top: 6px;
}

/* Sidebar channels elements height */
.LoYJxb {
    height: 26px !important;
}

/* Sidebar channel icons size and right padding */
.SwwApf, .biNtD, .tzwwSb {
    height: 25px !important;
    width: 25px !important;
}
.JwR1Pc, .wR3Nid, .yDIlKc .JwR1Pc, .yDIlKc .wR3Nid, .W0hon .JwR1Pc, .W0hon .wR3Nid {
    padding-left: 5px;
}

/* Sidebar conversation name size */
.t5F5nf, .wR3Nid {
    line-height: 15px;
}
/* Sidebar conversation content preview size */
.RsRwdf {
    line-height: 12px;
    font-size: .67rem;
}

/* Vertically align triple dots buttons on
channels in sidebar with the new height */
.MhXXcc {
    line-height: 26px;
}
.gsrV1e {
    height: 22px;
    width: 22px;
}
.QeRfYe .Lw7GHd {
    margin: 2px 6px 0 6px;
}

/* Big emojis size */
.Zc1Emd.NM3Nfc {
    font-size: 24px;
}

/* Inline emojis size */
img {
    border: none;
    font-size: 1.3em !important;
}

/* Reduce size of reply button */
.dCMjy {
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    margin-right: 36px;
}

/* Reduce space around blue NEW alert */
.k1lILc {
    padding: 5px 0 0;
}
.k1lILc + .ajCeRb {
    padding-top: 5px;
}

/* Reduce space between thread blocks */
.cZICLc {
    margin-top: 0px;
}

/* Reduce margin around Follow Thread button to avoid it overlapping on messages */
.yg4pvb {
    top: 2px;
    right: 4px;
}

/* Increase boldness of usenames in conversations */
.Z4BnXb {
    font-weight: 900;
}

/* Make code snippets look like slack's */
.FMTudf, .Zc1Emd div {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace !important;
    font-size: .75rem;
    margin: 1px 0;
    padding: 3px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Reduce the height of collapsed message row */
.zh742e {
    padding-top: 0;
}
.kZ7cwe {
    border: none;
}

/* Reduce margin around reaction emojis */
.SFMExc, .FIgEvc {
    margin-top: 0;
    margin-bottom: 0;
}

/* Reduce margin around link previews */
.V5MAMb {
    margin-top: 0;
    margin-bottom: 0;
}

/* Reduce size of youtube previews */
.uXftcc, .CXTVff {
    height: 240px;
    background-size: auto 240px;
}
.uXftcc {
    width: 320px;
}

/* Reduce size of youtube videos */
.uXftcc > .gntfhc, .CXTVff > .gntfhc {
    height: 240px;
    width: auto;
}

/* Make inline pre look like slack's */
.U8d2H, .Zc1Emd span:not(.NhKrqd):not(.fWwrkf) {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace !important;
    margin: 0px;
    padding: 1px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Reduce sidebar width */
.X9KLPc, .Riuhhf {
    width: 280px
}

/* Reduce margin above "Starred" label */
.aOHsTc {
    margin-top: 5px;
}

/* Fix emojis dimensions */
.iiJ4W {
	width: auto;
}
.Zoygqc .iiJ4W {
	height: 24px;
}

/* Reduce size of New conv button */
.SfqTBc {
    padding: 4px 18px 4px 12px;
    min-height: 30px;
}
.zmXnlc .IEIJqd {
    padding-top: 5px!important;
    padding-bottom: 5px!important; 
}
.RnpT2b {
    margin: 0!important;

/* Reduce height of link and file previews */
.Pj9rof { /* global block */
    height: 140px;
    width: 500px;
}
.tHcB6b { /* image container */
    height: 100px;
}
.rNTKFb { /* image (for files) */
    height: 100px;
}
.kmatHb { /* text */
    font-size: 12px;
    line-height: 13px;
}
.SXFjfb { /* text container */
    height: 40px;
    padding-top: 3px;
    padding-left: 15px;
}
.VEWZeb { /* icon next to text */
    height: 16px;
    margin-right: 0px;
    margin-top: 2px;
}
.SXFjfb.DoYruc { /* text when there is also a link */
    padding-top: 3px;
}
.rNTKFb.Tvakkc, .tHcB6b .wU0G2b, .rNTKFb.Tvakkc + .bBukm /* image (for links) */ {
    height: 100px !important;
    width: auto !important;
}
/* answer text box size */
.igYHTd, .vmpzOc .PhFuQe .I0LFzc, .EFNTcf, .CfUpN {
    min-height: 38px;
}
.XweIZc {
    padding: 5px 16px;
}

/* Side thread channel width */
.ekM2ie.eO2Zfd {
    width: 45% !important;
    max-width: auto !important;
    min-width: 300px;
}