.X9KLPc {
    background-color: #4d394b;
}
.PL5Wwe.KKjvXb:not(.tuKyod),
.PL5Wwe.qs41qe:not(.tuKyod) {
    background-color: #4C9689;
}
.t5F5nf {
    color: rgb(202, 196, 201);
}
.PL5Wwe:focus,
.PL5Wwe:hover:not(.tuKyod),
.tuKyod:hover .LoYJxb {
    background-color: #3e313c;
}
.PL5Wwe.H7du2 .t5F5nf {
    color: #fff;
}
.sFuxxd {
    color: rgb(202, 196, 201);
}
.PL5Wwe.H7du2 .sFuxxd {
    color: #fff;
}

.aOHsTc {
    color: rgb(202, 196, 201);
    font-size: 16px;
    margin-left: 16px;
}
.HLTcjb {
    color: rgb(202, 196, 201);
}
.D3DXDc {
    fill: rgb(202, 196, 201);
}
.PL5Wwe.KKjvXb:not(.tuKyod) > .t5F5nf,
.PL5Wwe.qs41qe:not(.tuKyod) > .t5F5nf {
    color: #fff;
}
.Riuhhf {
    background-color: #4d394b;
}
.LoYJxb {
    height: 26px;
}
.nF6pT {
    padding-top: 6px;
}
.wJNchb, .nFzS9e {
    margin-top: 10px;
}
.PL5Wwe + .wJNchb, .teTAFe:not(.fXx9Lc) + .vHL80e .aOHsTc {
    border-top: solid 1px #e0e0e0;
    padding-top: 6px;
}
.iiJ4W {
    height: 0.8em;
    margin: 0 2px;
    max-height: 0.8em;
    min-width: 0.8em;
    width: 0.8em;
}
.MhXXcc {
    line-height: 24px;
 }
.gsrV1e {
    height: 22px;
    width: 22px;
}
.RPExGf {
    height: 0px;
}
#XMLID_8_-Clipped{
    opacity: 0.8;
    fill: #fff;
}
.PL5Wwe.H7du2 .DQy0Rb {
    fill: #fff;
}
.DQy0Rb {
    fill: rgb(202, 196, 201);
}
.QeRfYe {
    fill: rgb(202, 196, 201);
}
.PL5Wwe.H7du2 .QeRfYe {
    fill: #fff;
}
