.X9KLPc {
    background-color: #4d394b;
}
.PL5Wwe.KKjvXb:not(.tuKyod),
.PL5Wwe.qs41qe:not(.tuKyod) {
    background-color: #4C9689;
}
.t5F5nf {
    color: rgb(202, 196, 201);
}
.PL5Wwe:focus,
.PL5Wwe:hover:not(.tuKyod),
.tuKyod:hover .LoYJxb {
    background-color: #3e313c;
}
.PL5Wwe.H7du2 .t5F5nf {
    color: #fff;
}
.aOHsTc {
    color: rgb(202, 196, 201);
    font-size: 16px;
    margin-left: 16px;
}
.HLTcjb {
    color: rgb(202, 196, 201);
}
.D3DXDc {
    fill: rgb(202, 196, 201) !important;
}
.PL5Wwe.KKjvXb:not(.tuKyod) > .t5F5nf,
.PL5Wwe.qs41qe:not(.tuKyod) > .t5F5nf {
    color: #fff;
}
.Riuhhf {
    background-color: #4d394b;
}
.LoYJxb {
    height: 26px;
}
.nF6pT {
    padding-top: 6px;
}
.wJNchb, .nFzS9e {
    margin-top: 10px;
}
.PL5Wwe + .wJNchb, .teTAFe:not(.fXx9Lc) + .vHL80e .aOHsTc {
    border-top: solid 1px #e0e0e0;
    padding-top: 6px;
}
.MhXXcc {
    line-height: 20px;
 }
.gsrV1e {
    height: 22px;
    width: 22px;
}
.RPExGf {
    margin: 0px;
}
#XMLID_8_-Clipped{
    opacity: 0.8 !important;
    fill: #fff !important;
}
/* Time and menu buttons and clock for channels inactive and active colors */
.sFuxxd {
    color: rgb(202, 196, 201);
}
.PL5Wwe.H7du2 .sFuxxd {
    color: #fff;
}
.DQy0Rb {
    fill: rgb(202, 196, 201) !important;
}
.PL5Wwe.H7du2 .DQy0Rb {
    fill: #fff !important;
}
.QeRfYe {
    fill: rgb(202, 196, 201) !important;
}
.PL5Wwe.H7du2 .QeRfYe {
    fill: #fff !important;
}
/* Big emojis size */
.Zc1Emd.NM3Nfc {
    font-size: 24px;
}
/* Inline emojis size */
img {
    border: none;
    font-size: 1.3em !important;
}
/* White text color for selected channel name */
.PL5Wwe.KKjvXb .t5F5nf, .PL5Wwe.KKjvXb .sFuxxd, .PL5Wwe.qs41qe .t5F5nf, .PL5Wwe.qs41qe .sFuxxd, .GSEpfc .t5F5nf {
    color: #fff;
}
/* Reduce top and left margins in thread blocks */
.GVSFtd {
    margin-left: 16px;
}
.jGyvbd {
    border: none;
    padding: 13px 10px 0 0;
}
/* Add border and reduce reply button size and margins */
.m3sLHf {
    font-size: .8rem;
    font-weight: 500;
    bottom: 5px;
    padding: 0px 15px 0px 12px;
    right: 8px;
    border-style: solid;
    border-width: 2px;
}
.dCMjy {
    top: 0px;
}
.CKEQkc {
    height: 28px;
}
.CKEQkc:hover:not(.RDPZE) .m3sLHf {
   font-size:.8rem;
   font-weight:500;
   color:#fff !important;
   background-color:#00897b;
   border-color:#00897b;
}
.jGyvbd .jO0Dzb {
    background: transparent;
}
.qiUDtb {
    bottom: 4px;
    position: relative;
}
/* Reduce space around blue NEW alert */
.k1lILc {
    padding: 5px 0 0;
}
.k1lILc + .ajCeRb {
    padding-top: 5px;
}
/* Reduce space around "someone added someone" messages */
.mCOR5e {
    padding: 8px 0;
}
/* Prevent "new conversation" message from overlapping on the text */
.pyNvz {
    top: -33px;
}
/* Reduce space between thread blocks */
.cZICLc {
    margin-top: 6px;
}
 /* Increase boldness of usenames in conversations */
 .Z4BnXb {
    font-weight: 900;
}
/* Make code snippets look like slack's */
.FMTudf {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace !important;
    font-size: .75rem;
    border: 1px solid #e0e0e0;
    margin: 10px 0;
    padding: 3px 10px;
    background: #f9f9f9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/* Make messages take more width */
.bzJiD .jGyvbd .QIJiHb, .bzJiD .jGyvbd .zX644e {
    max-width: 95%;
}
